[Unit]
Description=Generate issue file for login session
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/issue-generator

[Install]
WantedBy=default.target
