ACTION=="add", SUBSYSTEM=="net", ENV{INTERFACE}=="[bew]*", RUN+="/usr/sbin/issue-generator network add $env{INTERFACE}"
ACTION=="remove", SUBSYSTEM=="net", ENV{INTERFACE}=="[bew]*", RUN+="/usr/sbin/issue-generator network del $env{INTERFACE}"
